.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
cdcsis_1.0.tar.gz
*.o
reference/
src/.idea/
src/cmake-build-debug/
src/test/lib/gtest-1.7.0/
cdcsis_2.0.tar.gz
R-package/src-i386/
R-package/src-x64/cdc_stats.cpp
R-package/src-x64/
R-package/build.sh
src/review.md
src/future.md
src/test/gtest.md
cdcsis_2.0.1.zip
cdcsis_2.0.0.tar.gz
cdcsis_2.0.3.tar.gz
cdcsis_2.0.2.zip
cdcsis_2.0.3.zip
cdcsis_2.0.2.tar.gz
cdcsis_2.0.4.tar.gz
R-package/src/cdcsis.so
